extends layout.pug
include mixins/_tableRow.pug

block defectBar
  div#paretoChart.h-100
  script.
    document.getElementById('startWeek').value = !{JSON.stringify(startWeek)}
    document.getElementById('endWeek').value = !{JSON.stringify(endWeek)}
    const maxBarFat = window.innerWidth * .04;
    const chartHeight2W = 0.5;
    const top10data = !{JSON.stringify(defects)}.slice(0,-1);
    document.addEventListener("DOMContentLoaded", () => {
      BarChartHorizontal(top10data, 'paretoChart', {
        x: d => d.dppm,
        y: d => d.criteria,
        height: document.getElementById('paretoChart').clientHeight,
        width: document.getElementById('paretoChart').clientWidth,
        marginRight: 20,
        marginLeft: d3.max(top10data, d => d.criteria.length)*6,
        xLabel: "dppm",
        color: "steelblue",
        target: 1000
      });
    });

block dailyOutput
  h3#dailyTitle.center Daily Production Output
  div.legendBlock#dailyOutputLegend
  div#outputReport
  script.
    const dailyPD = !{JSON.stringify(PDdata)};
    const dateTimeFormat = new Intl.DateTimeFormat('en-GB', {year:'2-digit', month:'short', day:'numeric'});
    dailyPD.forEach((d) => {
      d.recorddate = dateTimeFormat.format(new Date(d.recorddate));
    });
    dailyPD.sort(d => new Date(d.recorddate));
    const types = new d3.InternSet(d3.map(dailyPD, d => d.pdtypeID));
    let zPadding = 0;
    document.addEventListener("DOMContentLoaded", () => {
      if (types.size > 1) {
        document.getElementById('dailyOutputLegend').style.height = "10%";
        document.getElementById('dailyOutputLegend').style.width = "50%";
        document.getElementById('dailyOutputLegend').style.margin = "0 auto";
        zPadding = 0.1;
      } 
      document.getElementById('outputReport').style.height = document.getElementById('dailyOutput').clientHeight - document.getElementById('dailyOutputLegend').clientHeight - document.getElementById('dailyTitle').clientHeight + "px";
      const colorScale = BarChartVertical(dailyPD, 'outputReport', {
        x: d => d.recorddate,
        y: d => d.PDoutput,
        z: d => d.pdtypeID,
        height: document.getElementById('outputReport').clientHeight,
        width: document.getElementById('outputReport').clientWidth,
        zPadding: zPadding,
        marginRight: 30,
        marginLeft: 50,
        maxBarWidth: maxBarFat,
        yLabel: "units produced",
        color: "steelblue"
      });
      if (types.size > 1) {
        Legend(colorScale, 'dailyOutputLegend', {
          width: document.getElementById('dailyOutputLegend').clientWidth,
          height: document.getElementById('dailyOutputLegend').clientHeight,
          marginTop: 2
        });
      }
    });

block defectTable
  table.table.table-striped.table-hover
    thead
      tr
        th Defect
        th Qty
        th DPPM
      tbody
        each row in defects
          +top10TableRow(row)
      tfoot
        tr
          th(colspan='6')

block weeklyFOR
  div#weeklyRate.h-100
  script.
    const weeklyFOR = !{JSON.stringify(weeklyFOR)};
    const weeklyRate = [];
    for (const week in weeklyFOR) {
      weeklyRate.push({
        weekNum: week,
        rate: weeklyFOR[week][0] / weeklyFOR[week][1] * 1000000
      });
    };
    document.addEventListener("DOMContentLoaded", () => {
      BarChartVertical(weeklyRate, 'weeklyRate', {
        x: d => d.weekNum,
        y: d => d.rate,
        height: document.getElementById('weeklyRate').clientHeight,
        width: document.getElementById('weeklyRate').clientWidth,
        marginRight: 30,
        marginLeft: 50,
        yLabel: "ppm",
        color: "steelblue",
        maxBarWidth: maxBarFat,
        target: 5000
      });
    });

block modelBar
  div#modelBar
  script.
    const model_qty = !{JSON.stringify(model_qty)};
    const modelOutput = [];
    for (const model in model_qty)
      modelOutput.push({
        model_name: model,
        output_qty: model_qty[model]
      });
    document.addEventListener("DOMContentLoaded", () => {
      document.getElementById('modelBar').style.height = "100%";
      const colorScale = BarChartHorizontal(modelOutput, 'modelBar', {
        x: d => d.output_qty,
        y: d => d.model_name,
        title: d => `${d.model_name}: ${d.output_qty}`,
        height: document.getElementById('modelBar').clientHeight,
        width: document.getElementById('modelBar').clientWidth,
        marginRight: 20,
        marginLeft: 0,
        xLabel: "pcs",
        maxBarHeight: maxBarFat,
        color: "steelblue"
      });
    });

block overallFOR
  div#rateMeter.h-100
    h4 Overall %FOR
    script.
      const allDefects = !{JSON.stringify(defects[defects.length - 1].dppm)} / 10000.00;
      document.addEventListener("DOMContentLoaded", () => {
        // needs them width and height from DOM
        MeterChart(allDefects, 'rateMeter', {
          startValue: 0,
          endValue: 2,
          width: document.getElementById('rateMeter').clientWidth,
          height: document.getElementById('rateMeter').clientHeight - document.querySelectorAll('#rateMeter h4')[0].clientHeight,
          target: 0.5
        });
      });

block topTrend
  table.table.table-striped.table-hover
    thead
      tr
        th Defect
        th Prior
        th Now
      tbody
        each row in pastTopRates
          +topTrendTableRow(row)
      tfoot
        tr
          th(colspan='6')