mixin tableRow(row)
  if row.dppm > 999 && row.criteria != 'TOTAL'
    tr.table-warning
      +rowItems(row)
  else if row.criteria == 'TOTAL'
    tr.table-dark
      +rowItems(row)
  else
    tr
      +rowItems(row)

mixin rowItems(row)
  td !{"<b>"}#{row.criteria}!{"</b>"}
  if row.criteria != 'TOTAL'
    td #{row.quantity}
    td #{row.dppm}
  else
    td !{"<b>"}#{row.quantity}!{"</b>"}
    td !{"<b>"}#{row.dppm}!{"</b>"}